.chartContainer {
    display: grid;
    width: 100%;
}

.chartContainerGrid1 {
    grid-column: 1;
    grid-row: 1;
    height: 100%;
}

.chartContainerGrid2 {
    grid-column: 2;
    grid-row: 1;
}

.chartContainerGrid3 {
    grid-column: 1;
    grid-row: 2;
}

.chartContainerGrid4 {
    grid-column: 2;
    grid-row: 2;
}
